<ng-container *ngIf="isHandset$ | async as isHandset">
  <mat-sidenav-container class="container">
    <mat-sidenav
    #snav
    class="sidenav"
    fixedInViewport
    autosize
    [attr.role]="isHandset.matches ? 'dialog' : 'navigation'"
    [mode]="isHandset.matches ? 'over' : 'side'"
    [opened]="isHandset.matches === false"
    >
    <mat-toolbar color="primary" class="sidenav-toolbar">
      <picture>
        <source srcset="/assets/icons/pokemon-logo-small.webp" type="image/webp">
        <source srcset="/assets/icons/pokemon-logo-small.png" type="image/png">
        <img src="/assets/icons/pokemon-logo-small.png" height="64" width="155" alt="Pokemon Logo">
      </picture>
    </mat-toolbar>
    <mat-nav-list class="sidenav-list">
      <a mat-list-item [routerLink]="'/pokemon'" routerLinkActive="isActive">Pokémon</a>
      <a mat-list-item [routerLink]="'/about'"  routerLinkActive="isActive">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class=".sidenav-content">
    <mat-toolbar color="primary" [class]="isHandset.matches ? 'isHandset' : ''" >
      <button
        mat-icon-button
        *ngIf="isHandset.matches"
        (click)="snav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1>{{ title }}</h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
